

.logo{
    max-width: 200px;
}
.banner img{
    max-width: 100%; /* acerta as laterais da imagem */
}
.banner{
    margin: 0px;
}
.texto_principal{
    background-color: #dbdbdb;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.texto_principal h1{
    color: #973913;
}
.card_area img{ width: 100%;}
.info{
    margin-top: 20px;
}
.info h1{ font-size: 1.4em;}
.grid_cor1{ background: #f8e9dc; padding: 20px; min-height: 220px; margin-bottom: 20px; }
.grid_cor1 img{ max-width: 100%; /*Maximo 100% do container*/}

footer{
    padding-top: 20px;
}
